.HH {

    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

header {
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 70%;
}

.box {
    width: 100%;
    height: 10vh;
    background-color: black;
}

.content {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: rgba(32, 32, 32, 0);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    gap: 10vw;
    width: 100%;
    height: 10%;
    background-color: rgba(43, 43, 43, 0.048);
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
}

.bolls {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0);
}

.boll {
    transition: all 0.5s ease-in-out;
    width: 5%;
    height: 15%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

.active {
    width: 10%;
    height: 20%;
}

.left svg {
    cursor: pointer;
    height: 90%;
}

.left svg:hover {
    transform: scale(1.06);
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
}

.right svg {
    cursor: pointer;
    height: 90%;
}

.right svg:hover {
    transform: scale(1.06);
}

.viwe {
    width: 100%;
    height: 90%;
    transition: transform 0.8s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.card {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-shrink: 0;
    width: 95%;
    height: 99%;
    background-color: rgba(137, 43, 226, 0);
}

.card video {
    object-fit: cover;
    height: 100%;
    width: 99%;
}

.info {
    padding: 15px;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: start;
}

.creat {
    position: absolute;
    right: 15px;
    height: 95%;
}

.conteineri {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 70vh;
    background-color: rgb(34, 34, 34);
}

.in {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19);
}

.in img {
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 85%;
    cursor: pointer;
}

.in img:hover {
    transform: scale(1.01);
}

.infn {
    font-size: 12px;
    position: relative;
    color: white;
    padding: 2%;
    width: 100%;
    height: 15%;
    background-color: rgba(48, 48, 48, 0);
    display: flex;
    align-items: center;
    justify-content: start;
}

.infn button {
    position: absolute;
    right: 2%;
    width: 30%;
    height: 50%;
    font-size: 12px;
    background-color: rgb(167, 167, 167);
    transition: background-color 0.2s ease-in-out;
    color: black;
    border: none;
    cursor: pointer;
}

.infn button:hover {
    background-color: white;
}





@media (max-width: 798px) {
    .header {
        height: 30px;
    }

    .info p {
        font-size: 12px;
    }

    .boll {
        width: 20%;
    }

    .active {
        width: 40%;
    }

    .conteineri {
        flex-direction: column;
        width: 95%;
        height: 180vh;
    }

    .infn button {
        font-size: 10px;
    }
}

@media (max-width: 1298px) {
    .conteineri {
        width: 90%;
    }
}