* {
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}