.HD {
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec {
    border: 1px solid rgb(26, 26, 26);
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 90%;
    min-height: 90vh;
    background-color: rgb(0, 0, 0);
}

.vv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0);
}

.vv iframe {
    width: 100%;
    height: 100%;

}

.dc {
    padding: 15px;
    flex-direction: column;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0);
}

.titulo {
    position: absolute;
    top: 15px;
}

.sinopse {
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    width: 80%;
    height: auto;
}

.jginf {
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: start;
    align-items: center;
}

.l {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
    background-color: rgba(47, 0, 255, 0);
}

.l img {
    width: 100%;
    height: 100%;
}


.p {
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 0px;
    width: 70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(26, 26, 26);

}

.p img {
    width: 5%;
    height: 60%;
}


@media (max-width:798px) {
    .sec {
        height: 180vh;
        flex-direction: column;
    }

    .vv {
        width: 100%;
        height: 40vh;
    }

    .dc {
        font-size: 7px;
        width: 100%;
        height: 100vh;
    }

    .jginf {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .l {
        width: 100%;
        height: 50%;
        top: 0px;
    }

    .p {
        justify-content: start;
        width: 100%;
        bottom: 0px;
        height: 30%;
    }

    .p img {
        width: 9%;
        height: 70%;
    }

}

@media (max-width:1298px) {
    .dc {
        font-size: 8px;
    }

    .sinopse {
        font-size: 12px;
    }

}