.HD {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.sec {
    overflow: hidden;
    border: 1px solid rgb(26, 26, 26);
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 90%;
    min-height: 90vh;
    background-color: rgb(0, 0, 0);
}

.vv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0);
}

.vv iframe {
    width: 100%;
    height: 100%;

}

.dc {
    padding: 15px;
    flex-direction: column;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 30%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0);
}

.titulo {
    position: absolute;
    top: 15px;
}

.sinopse {
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    width: 80%;
    height: auto;
}

.jginf {
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: start;
    align-items: center;
}

.l {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
    background-color: rgba(47, 0, 255, 0);
}

.l img {
    width: 100%;
    height: 100%;
}


.p {
    font-size: 7px;
    color: white;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 0px;
    width: 70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(26, 26, 26);

}

.ver {
    cursor: pointer;
    position: absolute;
    left: 15px;
}

.ver:hover {
    color: rgb(172, 172, 172);
}

.vmb {
    display: none;
}

.p img {
    width: 3%;
    height: 60%;
}

.popt {
    overflow: hidden;
    transition: left 0.6s ease-in-out;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    top: 50%;
    left: 200%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 700px;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

.barx {
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 10%;
    background-color: rgba(26, 26, 26, 0);
    display: flex;
    align-items: center;
    justify-content: end;

    & svg {
        cursor: pointer;
        width: 10%;
        height: 90%;
    }
}

.tf {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 15%;
    background-color: rgba(240, 255, 255, 0);
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(58, 58, 58);
    border-bottom: 1px solid rgb(58, 58, 58);
}

.tf img {
    height: 80%;
    width: 12%;
}




.mb {
    border-radius: 10px;
    display: none;
    position: relative;
    margin: 0 auto;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    min-height: 100vh;
    max-width: 98%;
    background-color: rgb(0, 0, 0);

    && iframe {

        width: 103%;
        height: 50vh;
    }
}

.mbt {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}

.mbs {
    width: 80%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.mbp {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1%;

    && img {
        width: 250px;
        height: 150px;
    }
}

.mbpp {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 255, 0);

    && img {
        width: 14%;
        height: 50%;
    }
}

.mbc {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;

}

.mm {
    border: 1px solid white;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    gap: 1px;
}



.mm img {
    height: 90%;

}



















@media (max-width:798px) {
    .sec {
        display: none;
    }

    .mb {
        display: flex;
    }
}

@media (max-width:1298px) {
    .sec {
        width: 98%;

    }

    .dc {
        font-size: 8px;
    }

    .sinopse {
        font-size: 12px;
    }

}